@import '../../common/colors.scss';

.movie-list, .show-list{
    margin: 20px 0px;
    h2{
        color:$font-secondry;
        margin-bottom: 25px;
        font-weight: 400;
    }
}
.movie-container , .show-container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(220px,1fr));
    grid-gap: 25px;
    // column-gap: 15px;
    // row-gap: 25px;
}
.empty-msg{
    color: $font-primary;
}
.load{
    color: $font-primary;
    display: flex;
    justify-content: center;
    margin-top: 20px;
    h4{
        font-weight: 500;
    }
}